.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.label {
  grid-column: 1/2;
  margin: 10px;
}

.input, .button {
  grid-column: 2 / 3;
  width: 250px;
  margin: 10px;
}

.button {
  color: white;
  height: 30px;
  background-color: black;
}

#createEventForm {
  display: grid;
  grid-template-columns: 250px 1fr;

}

.header {
  background-color: #00ff99;
  font-size: 1.4rem;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.main {
  color: white;
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.form {
  margin-top: 5px;
  display: grid;
  border-radius: 15px;
  background-color: #00ff99;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
